[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "clusterPower"]
	path = clusterPower
	url = https://github.com/kenkleinman/clusterpower
	shallow = true
	registered = true
